body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

#dashboard {
  display: none;
}

input, button {
  padding: 10px;
  margin: 5px;
}

button {
  background: #008c9e;
  color: white;
  border: none;
}

div {
  margin: 10px;
}
